@using SStore.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<div class="container-md mt-2 mb-sm-5 mb-3">
    @* Breadcrumb *@
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb ms-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new {area = ""})" class="breadcrumb-client"><i class="bi bi-house-door"></i> Home</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">Cart</li>
        </ol>
    </nav>

    <h2 class="text-uppercase text-center page-title mb-sm-2 mb-3">Cart</h2>
    <span id="errmsg" class="text-danger"></span>
    @if (Session["Cart"] != null)
    {
        <div class="table-responsive d-none d-sm-block">
            <table class="table table-hover my-2">
                <tr>
                    <th class="text-center text-nowrap">
                        Image
                    </th>
                    <th class="text-center text-nowrap" style="min-width: 150px">
                        Name
                    </th>
                    <th class="text-center text-nowrap" style="min-width: 130px">
                        Price
                    </th>
                    <th class="text-center text-nowrap" style="min-width: 100px">
                        Quantity
                    </th>
                    <th class="text-center text-nowrap" style="min-width: 140px">
                        Sub total
                    </th>
                    <th class="text-center text-nowrap">
                    </th>
                </tr>
                @foreach (var cart in (List<Cart>)Session["Cart"])
                {
                    <tr>
                        <td class="text-center align-middle" style="max-width: 38px">
                            @if (cart.Product.Image == null)
                            {
                                <img src="~/Image/noimage.png" class="img-fluid product-image-management" style="width:100%" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Image/" + cart.Product.Image)" class="img-fluid product-image-management" style="width:100%" />
                            }
                        </td>
                        <td class="text-center align-middle text-nowrap">
                            @cart.Product.ProductName
                        </td>
                        <td class="text-center align-middle text-nowrap">
                            @cart.Product.Price

                        </td>
                        <td class="text-center align-middle text-nowrap">
                            @using (Html.BeginForm("UpdateCart", "ShoppingCart", FormMethod.Post))
                            {
                                <input type="hidden" value="@cart.Product.Id" name="productId" />
                                <input type="number" name="Quantity" id="Quantity" min="1" value="@cart.Quantity" onchange="this.form.submit()" />
                            }
                        </td>
                        <td class="text-center align-middle">
                            @(string.Format("{0:N0}", cart.Product.Price * cart.Quantity))
                        </td>
                        <td class="text-center align-middle">
                            <a href="@Url.Action("Delete", "ShoppingCart", new { area = "", id = cart.Product.Id})" class="delete-button btn"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
                <tr>
                    <td class="text-center fw-bold text-nowrap" colspan="4">Total</td>
                    <td class="text-center fw-bold text-nowrap">
                        @{
                            List<Cart> temp = (List<Cart>)Session["Cart"];
                            var total = String.Format("{0:N0}", temp.Sum(x => x.Quantity * x.Product.Price));
                        }
                        @total $
                    </td>
                    <td></td>
                </tr>
            </table>
            <div class="d-flex justify-content-center my-3">
                <a href="@Url.Action("Index", "AllProduct", new {area = ""})" class="btn back-page-client"><span class="back-page-client-text">Continue shopping</span></a>
            </div>
        </div>

        @* Display on <= 992 px*@
        <div class="d-block d-sm-none">
            <ol class="list-group">
                @foreach (var cart in (List<Cart>)Session["Cart"])
                {
                    <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                        <div class="ms-2 me-auto">
                            @if (cart.Product.Image == null)
                            {
                                <img src="~/Image/noimage.png" class="img-fluid product-image-management img-thumbnail mb-1" style="width:100%; min-height:100px" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Image/" + cart.Product.Image)" class="img-fluid product-image-management img-thumbnail mb-1" style="width:100%; min-height:100px" />
                            }
                            <div class="fw-bold mb-1">@cart.Product.ProductName</div>
                            <p class="mb-1"><span class="fw-bold">Price:</span> @cart.Product.Price</p>
                            <p class="mb-1">
                                <span class="fw-bold">Sub total:</span> @(string.Format("{0:N0}", cart.Product.Price * cart.Quantity))
                            </p>
                        </div>
                        <span class="badge bg-primary rounded-pill">@cart.Quantity</span>
                        <a href="@Url.Action("Delete", "ShoppingCart", new { area = "", id = cart.Product.Id})" class="delete-button btn position-absolute bottom-0 end-0 me-2 mb-2"><i class="bi bi-trash"></i></a>
                    </li>
                }
            </ol>
            <div class="d-flex justify-content-between align-items-center mx-1">
                <p class="fw-bold">Total</p>
                <p>@total $</p>
            </div>
            <div class="d-flex justify-content-center my-4">
                <a href="@Url.Action("Index", "AllProduct", new {area = ""})" class="btn back-page-client"><span class="back-page-client-text">Continue shopping</span></a>
            </div>
        </div>
    }
    else
    {
        <div class="p-sm-5 p-3">
            <h4 class="text-error text-center mb-4">There are no items in the cart. Return to the store to continue shopping.</h4>
            <div class="d-flex justify-content-center">
                <a href="@Url.Action("Index", "AllProduct", new {area = ""})" class="btn back-page-client"><span class="back-page-client-text">Back to shopping</span></a>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function(){
        //Call when key is pressed in textbox
        $("#Quantity").keypress(function (e){
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                $("#errmsg").html("Enter digits only!").show().fadeOut("slow");
                return false;
            }
        });
    });
</script>