@model SStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    Func<decimal, int, decimal> Sum = (a, b) => a * b;
}

<div class="container-fluid my-2">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb ms-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })" class="breadcrumb-client">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Product", new { area = "Admin" })" class="breadcrumb-client">Products</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">Details</li>
        </ol>
    </nav>
    <a class="text-decoration-none btn edit-button ms-2 product-detail-button-hidden" href="@Url.Action("Edit", "Product", new { id = Model.Id })">
        <i class="bi bi-pencil-square"></i>
        &nbsp; Edit
    </a>
    <a class="text-decoration-none btn delete-button product-detail-button-hidden" href="@Url.Action("Delete", "Product", new{ id = Model.Id })">
        <i class="bi bi-trash"></i>
        &nbsp; Delete
    </a>
    <div class="my-3 mx-2">
        <h2 class="product-title">
            @Html.DisplayFor(model => model.ProductName)
        </h2>
        <div class="row">
            <div class="col-sm-8 mb-2">
                <img src="~/Image/wp2461125.jpg" class="img-fluid img-thumbnail" />
                @Html.DisplayFor(model => model.Image)
                <a class="text-decoration-none btn edit-button mt-3 product-detail-button" href="@Url.Action("Edit", "Product", new { id = Model.Id })">
                    <i class="bi bi-pencil-square"></i>
                    &nbsp; Edit
                </a>
                <a class="text-decoration-none btn delete-button mt-3 product-detail-button" href="@Url.Action("Delete", "Product", new{ id = Model.Id })">
                    <i class="bi bi-trash"></i>
                    &nbsp; Delete
                </a>
            </div>
            <div class="col">
                <dt>
                    Product Brand
                </dt>

                <dd>
                    @Model.productBrand.BrandName
                </dd>

                <dt>
                    Product Category
                </dt>

                <dd>
                    @Model.ProductCategory.CategoryName
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                    Total price
                </dt>

                <dd>
                    @Sum(Model.Price, 2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Weight)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Weight)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Size)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Size)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Color)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Color)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Status)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Status)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CreatedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ModifiedDate)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Hot)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Hot)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.View)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.View)
                </dd>

            </div>
        </div>
    </div>
</div>