@model SStore.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

    Func<decimal, int, decimal> Sum = (a, b) => a * b;
}

<div class="container-fluid my-2">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb ms-2">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })" class="breadcrumb-client">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Product", new { area = "Admin" })" class="breadcrumb-client">Products</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">Details</li>
        </ol>
    </nav>
    <a class="text-decoration-none btn edit-button ms-2 product-detail-button-hidden" href="@Url.Action("Edit", "Product", new { id = Model.Id })">
        <i class="bi bi-pencil-square"></i>
        &nbsp; Edit
    </a>
    <a class="text-decoration-none btn delete-button product-detail-button-hidden" href="@Url.Action("Delete", "Product", new{ id = Model.Id })">
        <i class="bi bi-trash"></i>
        &nbsp; Delete
    </a>
    <div class="my-3 mx-2">
        <h2 class="product-title">
            @Html.DisplayFor(model => model.ProductName)
        </h2>
        <div class="row">
            <div class="col-md-7 mb-2">
                <img src="~/Image/wp2461125.jpg" class="img-fluid img-thumbnail" />
                @Html.DisplayFor(model => model.Image)
                <a class="text-decoration-none btn edit-button mt-2 product-detail-button" href="@Url.Action("Edit", "Product", new { id = Model.Id })">
                    <i class="bi bi-pencil-square"></i>
                    &nbsp; Edit
                </a>
                <a class="text-decoration-none btn delete-button mt-2 product-detail-button" href="@Url.Action("Delete", "Product", new{ id = Model.Id })">
                    <i class="bi bi-trash"></i>
                    &nbsp; Delete
                </a>
            </div>
            <div class="col">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <tr>
                            <th>
                                Category
                            </th>
                            <td>
                                @Model.ProductCategory.CategoryName
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Brand
                            </th>
                            <td>
                                @Model.productBrand.BrandName
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Weight
                            </th>
                            <td>
                                @if (@Model.Weight == null)
                                {
                                    <p class="fst-italic m-0 text-secondary">...</p>
                                }
                                else
                                {
                                    <p class="m-0 text-truncate">@Model.Weight</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Size
                            </th>
                            <td>
                                @if (@Model.Weight == null)
                                {
                                    <p class="fst-italic m-0 text-secondary">...</p>
                                }
                                else
                                {
                                    <p class="m-0 text-truncate">@Model.Size</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Color
                            </th>
                            <td>
                                @if (@Model.Weight == null)
                                {
                                    <p class="fst-italic m-0 text-secondary">...</p>
                                }
                                else
                                {
                                    <p class="m-0 text-truncate">@Model.Color</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Price
                            </th>
                            <td>
                                @Model.Price $
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Description
                            </th>
                            <td>
                                @if (@Model.Description == null)
                                {
                                    <p class="fst-italic m-0 text-secondary">...</p>
                                }
                                else
                                {
                                    <p class="m-0 text-truncate">@Model.Description</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Status
                            </th>
                            <td>
                                @if (@Model.Status == true)
                                {
                                    <p class="m-0 text-success">In stock</p>
                                }
                                else
                                {
                                    <p class="m-0 text-warning">Out of stock</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>
                                CreatedDate
                            </th>
                            <td class="fst-italic text-secondary">
                                @Model.CreatedDate
                            </td>
                        </tr>
                        <tr>
                            <th>
                                ModifiedDate
                            </th>
                            <td class="fst-italic text-secondary">
                                @Model.ModifiedDate
                            </td>
                        </tr>
                        <tr>
                            <th>
                                Hot
                            </th>
                            <td>
                                @if (@Model.Hot == true)
                                {
                                    <p class="m-0">Yes</p>
                                }
                                else
                                {
                                    <p class="m-0">No</p>
                                }
                            </td>
                        </tr>
                        <tr>
                            <th>
                                View
                            </th>
                            <td>
                                @Model.View
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>