@model IEnumerable<SStore.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid my-2">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })" class="breadcrumb-client">Dashboard</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">Products</li>
        </ol>
    </nav>
    <h1 class="text-center my-3 admin-page-title text-uppercase">Product Management</h1>

    <a type="button" class="btn sub-button" href="@Url.Action("Create", "Product", new { area = "Admin" })">
        Add New Product
    </a>
    <div class="table-responsive">
        <table class="table table-bordered table-hover mt-3">
            <tr>
                <th class="text-truncate col-1">
                    Image
                </th>
                <th class="text-truncate">
                    Product Name
                </th>
                <th class="text-truncate">
                    Category
                </th>
                <th class="text-truncate">
                    Brand
                </th>
                <th class="text-truncate">
                    Price
                </th>
                <th class="text-truncate">
                    Description
                </th>
                <th class="text-truncate">
                    Action
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="align-middle my-1">
                        <img src="~/Image/wp2461125.jpg" class="img-fluid product-image-management" style="width:100%" />
                    </td>
                    <td class="align-middle text-truncate" style="max-width: 180px">
                        @item.ProductName
                    </td>
                    <td class="align-middle text-truncate">
                        @item.ProductCategory.CategoryName
                    </td>
                    <td class="align-middle text-truncate">
                        @item.productBrand.BrandName
                    </td>
                    <td class="align-middle text-truncate">
                        @item.Price
                    </td>
                    <td class="align-middle text-truncate" style="max-width: 300px">
                        @item.Description
                    </td>
                    <td class="align-middle">
                        <div class="d-flex flex-nowrap">
                            <a href="@Url.Action("Details", "Product", new{ id = item.Id })" class="btn detail-button me-2">
                                <i class="bi bi-info-circle"></i>
                            </a>
                            <a href="@Url.Action("Edit", "Product", new{ id = item.Id })" class="btn edit-button me-2">
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="@Url.Action("Delete", "Product", new{ id = item.Id })" class="btn delete-button">
                                <i class="bi bi-trash"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
