@model IEnumerable<SStore.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="mb-3">
        <h1 class="text-center my-3 admin-page-title text-uppercase">Product Management</h1>

        <a type="button" class="btn sub-button" href="@Url.Action("Create", "Product", new { area = "Admin" })">
            Add New Product
        </a>
    </div>
    <table class="table">
        <tr>
            <th>
                Image
            </th>
            <th>
                Product Name
            </th>
            <th>
                Category
            </th>
            <th>
                Brand
            </th>
            <th>
                Price
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Image
                </td>
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.ProductCategory.CategoryName
                </td>
                <td>
                    @item.productBrand.BrandName
                </td>
                <td>
                    @item.Price
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn detail-button" })
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn edit-button" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn delete-button" })
                </td>
            </tr>
        }

    </table>
</div>