@model IEnumerable<SStore.Models.ProductBrand>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h1 class="text-center my-3 admin-page-title">LIST PRODUCT BRANDS</h1>

    <a type="button" class="btn sub-button" href="@Url.Action("Create", "ProductBrand", new { area = "Admin" })">
        Add New Brand
    </a>
    <hr />

    <table class="table">
        <tr>
            <th>
                No
            </th>
            <th>
                Brand Name
            </th>
            <th>
                Action
            </th>
        </tr>

        @foreach (var item in Model.Select((d, i) => new { Data = d, Index = i + 1 }))
        {
            <tr>
                <td>
                    @item.Index
                </td>
                <td>
                    @item.Data.BrandName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Data.BrandId }, new { @class = "btn edit-button" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Data.BrandId }, new { @class = "btn delete-button" })
                </td>
            </tr>
        }

    </table>
</div>