@model SStore.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid my-2">
    @* Breadcrumb *@
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })" class="breadcrumb-client">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Orders", new { area = "Admin" })" class="breadcrumb-client">Orders</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">Details</li>
        </ol>
    </nav>
    @* Page Title *@
    <h1 class="text-center mt-3 mb-3 mb-sm-0 admin-page-title text-uppercase">Orders Details</h1>

    <div class="d-flex justify-content-center">
        <div class="container-fluid" style="max-width:700px">
            <div class="card mt-2 mt-sm-4 mb-1 mb-sm-2 rounded-0 border-dark">
                <div class="card-header bg-transparent border-dark p-0">
                    <div class="accordion accordion-flush" id="customerInfomation">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button py-2" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    <div>
                                        <h5 class="card-title mb-2">ORDER ID: <span>@Model.OrderId</span></h5>
                                        <p class="m-0 fst-italic text-secondary">@Model.OrderDate</p>
                                    </div>
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse show" aria-labelledby="headingThree" data-bs-parent="#customerInfomation">
                                <div class="accordion-body">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-4 text-nowrap">Order Status:</dt>
                                        <dd class="col-sm-8 d-flex align-items-center">
                                            @if (Model.Status.ToString().Equals("Processing"))
                                            {
                                                <div class="text-warning d-flex align-items-center">
                                                    <div class="spinner-border border-1 me-2" role="status" style="width:17px; height:17px">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div><span>Processing</span>
                                                </div>
                                            }
                                            else if (Model.Status.ToString().Equals("Success"))
                                            {
                                                <div class="text-success d-flex align-items-center">
                                                    <i class="bi bi-check2-circle fs-5 me-2"></i><span>Success</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="text-danger d-flex align-items-center">
                                                    <i class="bi bi-x-circle fs-5 me-2"></i><span>Denied</span>
                                                </div>
                                            }
                                        </dd>
                                        <dt class="col-sm-4 text-nowrap">Payment Type:</dt>
                                        <dd class="col-sm-8 font-monospace">
                                            @Model.PaymentType
                                        </dd>
                                        <dt class="col-sm-4 text-nowrap">Payment Status:</dt>
                                        <dd class="col-sm-8 m-0">
                                            @if (Model.PaymentStatus.ToString().Equals("Waiting"))
                                            {
                                                <div class="text-warning d-flex align-items-center">
                                                    <div class="spinner-border border-1 me-2" role="status" style="width:17px; height:17px">
                                                        <span class="visually-hidden">Loading...</span>
                                                    </div><span>Waiting</span>
                                                </div>
                                            }
                                            else if (Model.PaymentStatus.ToString().Equals("Paid"))
                                            {
                                                <div class="text-success d-flex align-items-center">
                                                    <i class="bi bi-check2-circle fs-5 me-2"></i><span>Paid</span>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="text-danger d-flex align-items-center">
                                                    <i class="bi bi-x-circle fs-5 me-2"></i><span>Denied</span>
                                                </div>
                                            }
                                        </dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="accordion accordion-flush" id="listItem">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    List Item
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#listItem">
                                <div class="accordion-body px-0 pb-0 pt-0">
                                    <ol class="list-group rounded-0">
                                        @foreach (var item in ViewBag.OrderDetails)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-start p-2">
                                                <div class="me-auto">
                                                    @if (item.Product.Image == null)
                                                    {
                                                        <img src="~/Image/noimage.png" class="img-fluid product-image-management img-thumbnail mb-1" style="max-width:192px; min-height:100px" />
                                                    }
                                                    else
                                                    {
                                                        <img src="@Url.Content("~/Image/" + item.Product.Image)" class="img-fluid product-image-management img-thumbnail mb-1" style="max-width:192px; min-height:100px" />
                                                    }
                                                    <p class="fw-bold my-1 product-cart-title">@item.Product.ProductName</p>
                                                    @*                                                    <p class="my-1">
                                                    <span class="fw-bold">Quantity:</span> @item.Quantity
                                                </p>*@
                                                    <p class="my-1">
                                                        <span class="fw-bold">Price:</span> @(string.Format("{0:C2}", item.Product.Price))
                                                    </p>
                                                    <p class="my-1">
                                                        <span class="fw-bold">Sub total:</span> @(string.Format("{0:C2}", item.Product.Price * item.Quantity))
                                                    </p>
                                                </div>
                                                <span class="badge bg-secondary rounded-pill">@item.Quantity</span>
                                            </li>
                                        }
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer p-0 bg-transparent border-dark">
                    <div class="accordion accordion-flush" id="customerInfomation">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    Delivery Infomation
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse show" aria-labelledby="headingTwo" data-bs-parent="#customerInfomation">
                                <div class="accordion-body">
                                    <dl class="row mb-0">
                                        <dt class="col-sm-4 text-nowrap">Recipient's name:</dt>
                                        <dd class="col-sm-8">@Model.CustomerName</dd>
                                        <dt class="col-sm-4 text-nowrap">Phone Number:</dt>
                                        <dd class="col-sm-8">@Model.CustomerPhone</dd>
                                        <dt class="col-sm-4 text-nowrap">Email:</dt>
                                        <dd class="col-sm-8">
                                            @if (@Model.CustomerEmail.IsEmpty())
                                            {
                                                <span>...</span>
                                            }
                                            else
                                            {
                                                @Model.CustomerEmail
                                            }
                                        </dd>
                                        <dt class="col-sm-4 text-nowrap">Delivery Address:</dt>
                                        <dd class="col-sm-8">@Model.DeliveryAddress</dd>
                                        <dt class="col-sm-4 text-nowrap">COD:</dt>
                                        <dd class="col-sm-8 mb-0">@(string.Format("{0:C2}", @Model.TotalPrice))</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-2">
                <a class="text-decoration-none btn edit-button mb-1 mb-sm-0" href="@Url.Action("Edit", "Orders", new { id = Model.OrderId })">
                    <i class="bi bi-pencil-square"></i>
                    &nbsp; Edit
                </a>
                <a href="@Url.Action("Delete", "Orders", new{ id = Model.OrderId })" class="btn delete-button mb-1 mb-sm-0">
                    <i class="bi bi-trash"></i>
                    &nbsp; Delete
                </a>
                <a href="@Url.Action("Index", "Orders", new { area = "Admin"})" class="btn back-page-button mb-1 mb-sm-0"><span class="back-page-button-text"></span>Back to list</a>
            </div>
        </div>
    </div>
</div>

