@model SStore.Models.ProductCategory

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <a class="text-decoration-none btn btn-secondary mt-3" href="@Url.Action("Index", "ProductCategory", new { area = "Admin" })">
        <i class="bi bi-box-arrow-left"></i>
        &nbsp; Back to List
    </a>
    <h2 class="my-3 text-center">ADD NEW PRODUCT CATEGORY</h2>
    @using (Html.BeginForm("Create", "ProductCategory", FormMethod.Post))
    {
        <div class="d-flex justify-content-center">
            <div class="container-fluid" style="max-width:500px">
                <form>
                    <div class="mb-3">
                        <label for="CategoryName" class="form-label">
                            @Html.LabelFor(c => c.CategoryName, "Category Name")
                        </label>
                        @Html.TextBoxFor(c => c.CategoryName, new { @class = "form-control", @placeholder = "Enter category name" })
                        @Html.ValidationMessageFor(c => c.CategoryName, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <label for="CategoryName" class="form-label">
                            @Html.LabelFor(c => c.Description, "Description")
                        </label>
                        @Html.TextBoxFor(c => c.Description, new { @class = "form-control", @placeholder = "Enter category description" })
                    </div>
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    }
</div>