@model SStore.Models.UserInfo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xl container-fluid mt-2 mb-sm-5 mb-3">
    @* Breadcrumb *@
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new {area = ""})" class="breadcrumb-client"><i class="bi bi-house-door"></i> Home</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Manage", new { area ="" })" class="breadcrumb-client">Setting</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">Profile</li>
        </ol>
    </nav>
    @* End breadcrumb *@

    <div class="d-flex justify-content-center">
        <div class="container-fluid" style="max-width:700px">
            <h2 class="text-uppercase text-center page-title mb-3">Basic information</h2>
            <div class="mb-2 mb-sm-3 row">
                <label for="FirstName" class="col-sm-2 col-form-label fw-bold text-nowrap">First Name</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", disabled = true })
                </div>
            </div>
            <div class="mb-2 mb-sm-3 row">
                <label for="LastName" class="col-sm-2 col-form-label fw-bold text-nowrap">Last Name</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", disabled = true })
                </div>
            </div>
            <div class="mb-2 mb-sm-3 row">
                <label for="Country" class="col-sm-2 col-form-label fw-bold">Country</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Country, new { @class = "form-control", disabled = true })
                </div>
            </div>
            <div class="mb-2 mb-sm-3 row">
                <label for="City" class="col-sm-2 col-form-label fw-bold">City</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", disabled = true })
                </div>
            </div>
            <div class="mb-2 mb-sm-3 row">
                <label for="Address" class="col-sm-2 col-form-label fw-bold">Address</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", disabled = true })
                </div>
            </div>
            <div class="mb-2 mb-sm-3 row">
                <label for="Gender" class="col-sm-2 col-form-label fw-bold">Gender</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Gender, new { @class = "form-control", disabled = true })
                </div>
            </div>
            <div class="mb-2 mb-sm-3 row">
                <label for="Phone" class="col-sm-2 col-form-label fw-bold">Phone</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", disabled = true })
                </div>
            </div>
            <div class="mb-3 row">
                <label for="Email" class="col-sm-2 col-form-label fw-bold">Email</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-wrap", disabled = true })
                </div>
            </div>

            <a href="@Url.Action("Edit", "User", new { area ="" })" class="btn edit-button">Edit <i class="bi bi-pen"></i></a>
        </div>
    </div>
</div>




