@model IEnumerable<SStore.Models.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container mt-2 mb-sm-5 mb-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new {area = ""})" class="breadcrumb-client"><i class="bi bi-house-door"></i> Home</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">Hat</li>
        </ol>
    </nav>
    <div class="text-center">
        <h1 class="home-partial-title">ALL PRODUCTS</h1>
    </div>
    <hr />
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var item in Model)
        {
            <div class="card m-3 shadow" style="width: 18rem;">
                <div class="image-hover img-overlay">
                    <a href="@Url.Action("Details", "AllProduct",  new { area = "", id = item.Id })" class="text-decoration-none">
                        <figure>
                            <img src="@Url.Content("~/Image/wp2461125.jpg")" class="card-img-top" alt="...">
                            <div class="overlay">
                                <div class="img-overlay-text">See details</div>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-truncate" title="@item.ProductName">@item.ProductName</h5>
                    <p class="card-text">@item.Price $</p>
                    <div class="d-flex justify-content-between align-items-center">
                        @if (item.Status != true)
                        {
                            <button class="btn btn-danger fw-bolder disabled">Sold out</button>
                        }
                        else
                        {
                            <a href="#" class="btn buy-now-button">Buy now</a>
                            <a href="#" class="btn add-to-cart-button align-bottom">
                                <p class="m-0 d-none d-sm-block">
                                    Add to cart &nbsp;<i class="bi bi-cart-plus"></i>
                                </p>
                                <i class="bi bi-cart-plus d-block d-sm-none"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
