@model IEnumerable<SStore.Models.Product>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-xl container-fluid mt-2 mb-sm-5 mb-3">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home", new {area = ""})" class="breadcrumb-client"><i class="bi bi-house-door"></i> Home</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">All Product</li>
        </ol>
    </nav>
    <div class="text-center">
        <h1 class="home-partial-title">ALL PRODUCTS</h1>
    </div>
    <hr />
    <div class="d-flex flex-wrap justify-content-center">
        @foreach (var item in Model)
        {
            <div class="card m-3 shadow" style="width: 18rem;">
                <div class="image-hover img-overlay">
                    <a href="@Url.Action("Details", "AllProduct",  new { area = "", id = item.Id })" class="text-decoration-none">
                        <figure>
                            <img src="@Url.Content("~/Image/wp2461125.jpg")" class="card-img-top" alt="...">
                            <div class="overlay">
                                <div class="img-overlay-text">See details</div>
                            </div>
                        </figure>
                    </a>
                </div>
                <div class="card-body">
                    <h5 class="card-title text-truncate" title="@item.ProductName">@item.ProductName</h5>
                    <p class="card-text">@item.Price $</p>
                    <div class="d-flex justify-content-between align-items-center">
                        @if (item.Status != true)
                        {
                            <button class="btn btn-danger fw-bolder disabled">Sold out</button>
                        }
                        else
                        {
                            <a href="#" class="btn buy-now-button">Buy now</a>
                            <a href="#" class="btn add-to-cart-button align-bottom">
                                <p class="m-0 d-none d-sm-block">
                                    Add to cart &nbsp;<i class="bi bi-cart-plus"></i>
                                </p>
                                <i class="bi bi-cart-plus d-block d-sm-none"></i>
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="position-fixed top-50 end-0 translate-middle-y d-block d-xl-none">
        <button class="btn sub-button" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
            <i class="bi bi-funnel"></i>
        </button>

    </div>
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Filter</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <h5 class="mt-2">Category</h5>
            <hr />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    checkbox
                </label>
            </div>
            <h5 class="mt-2">Brand</h5>
            <hr />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    checkbox
                </label>
            </div>
            <h5 class="mt-2">Size</h5>
            <hr />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    checkbox
                </label>
            </div>
        </div>
    </div>
</div>
