@model SStore.Models.Feedback

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid my-2">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Dashboard", new { area = "Admin" })" class="breadcrumb-client">Dashboard</a></li>
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Feedback", new { area = "Admin" })" class="breadcrumb-client">Feedbacks</a></li>
            <li class="breadcrumb-item breadcrumb-client-active">Details</li>
        </ol>
    </nav>
    <h1 class="text-center text-uppercase admin-page-title">Feedback</h1>
    <hr />
    <div class="d-flex justify-content-center">
        <div class="container-fluid" style="max-width:700px">
            <div class="card my-4 border-dark">
                <div class="card-header bg-transparent border-dark">
                    <h4 class="card-title">Title</h4>
                    <p class="card-text">@Model.Title</p>
                </div>
                <div class="card-body pt-2">
                    <h4 class="card-title">Customer Information</h4>
                    <ul class="list-group">
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p class="fw-bold mb-0 me-3 text-break">Customer Name:</p>
                            <p class="mb-0 text-truncate">@Model.FullName</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p class="fw-bold mb-0 me-4">Email:</p>
                            <p class="mb-0 text-break text-truncate">@Model.Email</p>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <p class="fw-bold mb-0 text-break me-3">Phone Number:</p>
                            <p class="mb-0 text-truncate">
                                @Model.PhoneNumber
                            </p>
                        </li>
                    </ul>
                </div>
                <div class="card-footer bg-transparent border-dark">
                    <h4 class="card-title">Description</h4>
                    <p class="card-text">@Model.Description</p>
                </div>
            </div>
        </div>
    </div>
</div>