@using Microsoft.AspNet.Identity

@{
    var firstName = User.Identity.GetUserName();
    int index = firstName.IndexOf('@');
    if (index >= 0)
    {
        firstName = firstName.Substring(0, index);
    }
}
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div class="dropdown">
            <a class="dropdown-toggle border-0 p-0 user-avatar" role="button" id="dropdownMenuLink" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-person-circle text-secondary fs-3"></i>
            </a>

            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-start fix-sticky mt-sm-2" aria-labelledby="dropdownMenuLink">
                <li class="d-flex justify-content-center"><a class="dropdown-item" href="#">@Html.Action("MemberShip", "Manage", new { area = "" })</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", "Manage", new { area ="" })"><i class="bi bi-gear"></i> Setting</a></li>
                <li><a class="dropdown-item" href="@Url.Action("Index", "Order", new { area ="" })"><i class="bi bi-list-ul"></i> Orders</a></li>
                <li><a class="dropdown-item" href="javascript:document.getElementById('logoutForm').submit()"><i class="bi bi-box-arrow-left"></i> Logout</a></li>
            </ul>
        </div>
    }
}
else
{
    <a href="@Url.Action("Login", "Account", new { area = ""})" class="login-button"><i class="fade fa-sign-in"></i><i class="bi bi-box-arrow-in-right"></i> Login</a>
    @*    <a href="@Url.Action("Register", "Account", routeValues: null)" class="btn btn-outline-danger me-2">Register</a>
    *@}
